.patient-details__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3.5rem;
}

.weight__wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  border: 0.1rem solid #ccc;
  border-radius: 1rem;
  box-sizing: border-box;
  padding: 2rem;
}

.weight__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.weight__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.patient__page__weight_list {
  display: flex;
  gap: 1rem;
  justify-content: space-around;
}

.patient__page__graph {
  display: flex;
  flex-direction: column;
}

.patient__page__graph_container {
  display: flex;
  padding: 1rem 1rem;
  justify-content: start;
  box-sizing: border-box;
  border-radius: 1.5rem;
  overflow-x: auto;
}

.patient__page__bp__chart__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.patient__page__bp__chart__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.patient__page__bp__buttons {
  display: flex;
  gap: 0.5rem;
}

.patient__bottom__container {
  display: flex;
  justify-content: start;
  gap: 4rem;
  box-sizing: border-box;
  flex-wrap: wrap;
}
