.basis__container {
  display: flex;
  flex-direction: column;
  width: 55rem;
  height: 10rem;
  padding: 3rem;
  gap: 2rem;
  border-radius: 10px;
}

.basis__title__weight {
  font-size: 2rem;
  color: #3b82f6;
  font-weight: 600;
}
.basis__title__bp {
  font-size: 2rem;
  color: #ef4444;
  font-weight: 600;
}
.basis__list__weight li::marker,
.basis__list__weight > li {
  color: #3b82f6;
}
.basis__list__bp li::marker,
.basis__list__bp > li {
  color: #ef4444;
}
