.remark__personal__content__container {
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow-y: auto;
}

.remark__personal__graphs__container {
  display: flex;
  align-items: stretch; /* Align items to stretch to full height */
  justify-content: start;
  gap: 1.5rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.content__box__list {
  flex-basis: 25rem;
  max-width: 25rem;
}

.blood__history__container h3,
.content__box__list h3,
.weight__cmp__container h3 {
  margin-bottom: 1rem; /* Add some space below the title */
  font-size: 1.6rem;
}
