.remark__personal__content__container {
  padding: 3.5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  overflow-y: auto;
}

.remark__personal__graphs__container {
  display: flex;
  align-items: flex-start;
  justify-content: start;
  gap: 2rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}
.blood__history__container {
  flex: 1 0 30rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.content__box__list {
  flex: 1 0 25rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.weight__cmp__container {
  flex: 1 0 30rem;
}
