.remark__personal__table__container {
}

.remark__personal__table {
  border-collapse: collapse;
  width: 100%;
}
.remark__personal__table > thead > tr > th {
  padding: 20px;
  background-color: #e6f1fd;
  color: gray;
  border: 1px solid gray;
}

.remark__personal__table > tbody > tr > th,
.remark__personal__table > tbody > tr > td {
  padding: 20px;
  color: gray;
  border: 1px solid gray;
  text-align: center;
}
