.historyrow__container {
  width: 300px;
  padding: 10px;
  border: 1px solid #fffeff;
  border-radius: 10px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
