.main__card__container {
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid #fffeff;
  border-radius: 10px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding-block: 40px;
  padding-inline: 30px;
  box-sizing: border-box;
}

.main__card__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.main__card__title {
  font-weight: 600;
  font-size: 26px;
  color: #33afc5;
}
.main__card__icon {
  width: 70px;
  height: 70px;
  border: 1px solid #fffeff;
  border-radius: 40%;
  padding: 25px;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
}
