.patient-details__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 35px;
}

.patient__page__weight_list {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.patient__page__graph {
  display: flex;
  flex-direction: column;
}

.patient__page__graph_container {
  display: flex;
  gap: 10px;
  border: 1px solid gray;
  padding: 30px 20px;
  justify-content: start;
  box-sizing: border-box;
  border-radius: 15px;
}

.patient__page__bp__chart__container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.patient__page__bp__chart__header {
  display: flex;
  justify-content: space-between;
}

.patient__page__bp__buttons {
  display: flex;
  gap: 5px;
}

.patient__bottom__container {
  display: flex;
  justify-content: start;
  gap: 40px;
  box-sizing: border-box;
}
