.recordrow__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.recordrow__info {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;
}

.recordrow__buttons {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  padding-left: 1rem;
}
