.record__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.record__header {
  display: flex;
  justify-content: space-between;
}

.record__title {
  color: #1e6774;
}

.record__buttons {
  display: flex;
  gap: 0.5rem;
}

.record__content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  min-height: 31.5rem;
  overflow-y: auto;

  border-radius: 7px;
  padding: 2rem;
}

.recordrow {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
