.recordrow__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  overflow: hidden;
}

.recordrow__info {
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  align-items: center;

  min-width: 0;
  flex: 1;
}

.recordrow__note {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  max-width: 65rem;
  min-width: 0;
  flex: 1;
}
