.weight__box__container {
  display: flex;
  flex-direction: column;
  width: 12rem;
  height: 7rem;
  background-color: #f5f4f5;
  border: 1px solid rgb(235, 221, 221);
  border-radius: 10px;
  padding: 2rem 3rem 2rem 2rem;
}
