.setting-page__container {
  background-color: white;
  box-sizing: border-box;
  padding: 50px;
  border: 1px solid #fffeff;
  box-shadow: 0 0 12px 4px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  width: 100%;
  height: 100%;
}

.setting__profile__container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  margin: 0 auto;
  margin-top: 100px;
}

.setting__profile__icon {
  font-size: 100px;
}

.setting__username {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  font-size: 32px;
  font-weight: bold;
  padding-right: 50px;
}

.setting__user__info__container {
  width: 100%;
  height: 100%;
  border: 1px solid #fffeff;
  box-shadow: 0 0 6px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  box-sizing: border-box;
}

.setting__user__info__container > hr {
  height: 1px;
  border: none;
  background-color: rgb(220, 220, 220);
}

.setting__logout {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red;
  gap: 15px;
  font-weight: 500;

  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}

.setting__edit {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #33afc5;
  gap: 15px;
  font-weight: 500;

  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
}
