.prescription__details__container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3.5rem;
}

.prescription__detail__graphs {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.prescription__detail__graphs {
  display: flex;
}
