.patients__list__container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.patients__list__title {
  font-size: 1.2rem;
  color: gray;
  display: flex;
  justify-content: space-between;
  padding-inline: 1.5rem;
  align-items: center;
}

.patients__list__list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  max-height: 80rem;
  overflow-y: auto;
}
