.patient__list__table {
  border-collapse: separate;
  border-spacing: 0px 0.8rem;
  box-sizing: border-box;
  width: 100%;
}

.patient__list__table td {
  padding: 1rem;
}

.patient__list__table tbody tr {
  cursor: pointer;
  flex: 1;
}

.patient__list__table tbody tr td:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
