.patient__row__container {
  display: flex;
  gap: 1.5rem;
  background-color: #cbe8ee;
  padding-block: 1.2rem;
  padding-right: 2rem;
  padding-left: 1rem;
  width: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
