.patient__info__container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.patient__info__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 3rem;
}
.patient__info__info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.patient__info__name {
  font-size: 2rem;
  font-weight: 500;
}

.patient__info__sex {
  font-size: 1.6rem;
  font-weight: 500;
}

.patient__info__buttons {
  display: flex;
  gap: 0.5rem;
}

.header__session__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.patient__info__dropdown {
  background-color: #f5f4f5;
  padding-inline: 1rem;
  padding-block: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  outline: none;
}

.patient-summary-card__hr {
  height: 0.2rem;
  border: none;
  background-color: black;
  margin-top: 2rem;
}
