html,
body,
#root {
  background-color: hsl(0, 0%, 96%);
  height: 100%;
  margin: 0;
}

html {
  font-size: 55.5%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

p,
span,
div {
  font-size: 1.4rem;
} /* 14px, 기본 텍스트 크기 */

.card-container {
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  flex: 1 0; /* Default flex behavior for cards */
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* input창 공통 스타일*/

.form-row {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.form-input-col {
  position: relative;
}

.form-row label {
  width: 8rem;
  font-weight: bold;
}

.form-row input {
  flex: 1;
  padding: 0.8rem;
  border: 0.1rem solid #ccc; /* 명확한 border 색상 지정 */
  border-radius: 0.4rem;
}

.form-row input:focus {
  outline: none;
  border-color: #007bff; /* 포커스 시 색상 변경 */
}

.form-row textarea {
  flex: 1;
  resize: none;
  width: 15rem;
  height: 5rem;
  padding: 0.8rem;
  border: 0.1rem solid #ccc; /* 명확한 border 색상 지정 */
  border-radius: 0.4rem;
  overflow-y: auto;
}

.form-row textarea:focus {
  outline: none;
  border-color: #007bff; /* 포커스 시 색상 변경 */
}

.form-row select {
  flex: 1;
  padding: 0.8rem;
  border: 0.1rem solid #ccc; /* 명확한 border 색상 지정 */
  border-radius: 0.4rem;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.form-actions button {
  padding: 0.8rem 1.5rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  cursor: pointer;
}

.form-actions button[type="submit"] {
  background-color: #007bff;
  color: white;
  border-color: #007bff;
}
