.main-layout__container {
  display: flex;
  min-height: 100vh;
}
.sidebar-column {
  background: white;
  width: 20%;
}
.sidebar__container {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: auto;
}
.main-layout__page__container {
  flex: 1 1 auto;
  min-width: 0;
  overflow: auto;
  padding: 40px;
}
