/* 흰 카드 컨테이너  */
.with-patient-layout__container {
  display: flex;
  gap: 2.4rem;

  background-color: #fff;
  padding: 3.2rem; /* 내부 여백 */
  border: 0.1rem solid #fffeff;
  box-shadow: 0 0 1.2rem 0.4rem rgba(0, 0, 0, 0.1);
  border-radius: 1rem;

  width: 100%;

  height: 100%;
  box-sizing: border-box;
}

.with-patient-layout__main__content {
  flex: 1; /*남은 공간을 모두 차지하도록 설정함*/
  min-width: 0;

  overflow-x: hidden;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;

  padding-bottom: 0.8rem; /* 스크롤바와 콘텐츠 간격 */
}

.with-patient-layout__container > .patient-list-page__container {
  width: 20rem;
  flex-shrink: 0;
}

/* 내부 요소가 가로로 잘리지 않게 */
.with-patient-layout__main__content > * {
  flex-shrink: 0; /* 줄어들지 않음 */
}
