.main-layout__container {
  display: flex;
  min-height: 100vh;
}
.sidebar-column {
  background: white;
}
.sidebar__container {
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: auto;
}
.main-layout__page__container {
  flex: 1 1 auto;
  overflow: auto;
  padding: 4rem;

  margin: 0 auto;
  min-width: 130rem;
  max-width: 185rem;
}
