.prescription__details__container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 35px;
}

.prescription__detail__graphs {
  display: flex;
  gap: 30px;
}
.prescription__blood__result__container {
  color: #1e6774;
  font-size: 18px;
  font-weight: 700;
}
.prescription__hb__container {
  color: #1e6774;
  font-size: 18px;
  font-weight: 700;
}
.prescription__detail__graphs {
  display: flex;
}
