.prescription__table__container {
  border: 1px solid rgba(220, 220, 220, 0.6);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.prescription__table {
  border-collapse: separate;
  border-spacing: 0px 0.8rem;
}
.prescription__thead th {
  text-align: left;
  padding-left: 1rem;
}

.prescription__tr td {
  height: 5rem;
  padding-left: 1rem;
  padding-right: 3rem;
}

.prescription__tr td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.prescription__tr td:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
