.prescription__table {
  border-collapse: separate;
  border-spacing: 0px 0.8rem;
  box-sizing: border-box;
}
.prescription__thead th {
  text-align: left;
  padding-left: 1rem;
}

.prescription__table td {
  padding: 1.3rem;
  max-width: 20rem;
}

.prescription__table td:first-child {
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}

.prescription__table td:last-child {
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
