.button {
  width: 3.4rem;
  height: 2.3rem;
  color: #ef4444;
  border-radius: 0.8rem;
  border: 0.1rem solid rgba(220, 220, 220, 100);
  padding: 0.5rem;
  font-size: 1.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
